# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Data / large files
*.ply
*.pcd
*.bin
*.npz
data/
datasets/

# Notes
*.log
